<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - HayvanBarınagı</title>

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Eğer özel bir stil eklemek isterseniz bu kısıma ekleyebilirsiniz -->
</head>
<body>

    <!-- Navigasyon Barı -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                    <a class="nav-link active" href="/">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                    <a class="nav-link" href="/Hayvanlar">Hayvanlar</a>
                        </li>
                    </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/KullaniciGirisi">Kullanıcı Girişi</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown">
                        Dil Seçiniz
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageDropdown">
                        <a class="dropdown-item" href="#">Türkçe</a>
                        <a class="dropdown-item" href="#">İngilizce</a>
                </div>
                </li>
            </ul>
            </div>
        </nav>

    <!-- İçerik -->
    <div class="container mt-5">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center py-4 mt-5 bg-dark text-white">
        <p>&copy; SAÜ 2023 Yaz Okulu Web Programlama HayvanBarınagı s221210017 Mert Kan.</p>
    </footer>

    <!-- jQuery, Popper.js, Bootstrap 4 JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
