@model HayvanBarinagi.Models.SahiplendirmeBasvurulari

<h2>Sahiplendirme Başvurusunu Sil</h2>

<p>Bu sahiplendirme başvurusunu silmek istediğinizden emin misiniz?</p>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Sil" class="btn btn-danger" />
    <a href="@Url.Action("Index")" class="btn btn-default">İptal</a>
</form>
